.button {
  background-color: #4CAF50 !important;
  /* Green */
  border: none !important;
  color: white !important;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer; }

.button-sm {
  background-color: #4CAF50 !important;
  /* Green */
  border: none !important;
  color: white !important;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer; }

.button-1 {
  background-color: white !important;
  color: black !important;
  border: 2px solid #4CAF50 !important; }

.button-1:hover {
  background-color: #4CAF50 !important;
  color: white !important; }

.button-2 {
  background-color: white !important;
  color: black !important;
  border: 2px solid #008CBA !important; }

.button-2:hover {
  background-color: #008CBA !important;
  color: white !important; }

.button-3 {
  background-color: white !important;
  color: black !important;
  border: 2px solid #f44336 !important; }

.button-3:hover {
  background-color: #f44336 !important;
  color: white !important; }

.button-4 {
  background-color: white !important;
  color: black !important;
  border: 2px solid #e7e7e7 !important; }

.button-4:hover {
  background-color: #e7e7e7 !important; }

.button-5 {
  background-color: white !important;
  color: black !important;
  border: 2px solid #555555 !important; }

.button-5:hover {
  background-color: #555555 !important;
  color: white !important; }

.title-1 {
  font-size: 2em;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block; }

input {
  font-size: 1em;
  color: #fff;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px; }

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url("images/lgb1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1; }
  .container-login:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7); }

.box-login {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  background: #9152f8;
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
  background: -o-linear-gradient(top, #7579ff, #b224ef);
  background: -moz-linear-gradient(top, #7579ff, #b224ef);
  background: linear-gradient(top, #7579ff, #b224ef); }

.form-logo {
  font-size: 60px;
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto; }

.center-flex {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
