$color-beige: #F3FFBD;
$color-red: #FF1654;
$color-blue1: #247BA0;
$color-blue2: #70C1B3;
$color-blue3: #B2DBBF;

@import "button.scss";
@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto|Roboto+Slab');

//Mixins
@mixin f-fonts($f1,$f2,$colorfont){
  font-family: $f1, $f2;
  color: $colorfont;
}

@mixin f-marginLR($ml,$mr){
  margin-left: $ml;
  margin-right: $mr;
}
@mixin f-marginTB($mt,$mb){
  margin-top: $mt;
  margin-bottom: $mb;
}

@mixin f-backgroundAndColor($bc,$c){
  background-color: $bc;
  color: $c;
}

@mixin f-border($width, $style, $color) {
  border: $width $style $color;
}

@mixin f-wh($w,$h) {
  width: $w;
  height: $h;
}

//Extends
%ext1{
  background-color: $color-blue1;
  @include f-fonts('Roboto Slab',cursive,white);
}


.box-1{
	color: black !important; 
    border: 5px solid #4CAF50 !important;
}

.main-content {
  padding: 0px 0px 16px 0px;
  margin-top: 6em;
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  @extend %ext1;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: #000000;
  z-index: 10;
}

.wel_header {
    text-align: center;
    color: #222222;
    padding-top: 0;
}
.fw-heading.fw-heading-center {
    padding-bottom: 40px;

}
.wel_header h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 25px;
    font-family: 'Roboto Slab', serif !important;
    color: #222222;
}
.wel_header p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


footer {
  @extend %ext1;
  padding: 25px;
  a{
    @include f-marginLR(1em,1em);
  }
}